[user]
	name = Chris Horner
	email = chris@horner.chat
[color]
	ui = true
	branch = true
	diff = true
	interactive = true
	status = true
[push]
	default = simple
[core]
	autocrlf = input
  editor = vim
	trustctime = false
[merge]
  tool = vimdiff
[mergetool]
  keeptemoraries = false
  keepbackups = false
  prompt = false
  trustexitcode = false
