[user]
	name = Chris Horner
	email = chris@horner.chat
[color]
	ui = true
	branch = true
	diff = true
	interactive = true
	status = true
[push]
	default = simple
[core]
	autocrlf = input
	editor = subl --launch-or-new-window -w
	trustctime = false
[merge]
  tool = smerge
[mergetool]
  keeptemoraries = false
  keepbackups = false
  prompt = false
  trustexitcode = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
